*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
   
}


/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fffcfc;
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.1);
    position: sticky;
    top: 0;
    
}
/* logo */
#logo {
    cursor: pointer;
    margin-left: 25px;
    
}

/* menu */
.menu {
    display: flex;
    list-style: none;
}
.menu li {
    margin-left: 25px;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
}
.menu li:hover {
    color: #ff9100;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.menu-btn {
    color: #ff9100;
    text-decoration: none;
}
.menu-btn:hover {
    color: #e0880b;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

/* about section */
.hero section {

}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}
.hero-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ff9100;
    max-width: 100%;
}
.hero-content p {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.5;   
    font-weight: 550;
    margin-left: 55px;
}

.buttons{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: start;
    margin-left: 50px;
}

/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
